services:
  apicurio-registry:
    image: apicurio/apicurio-registry:latest-release@sha256:627dde93fd1f2a109bd67d09c83bdd6b5bb64d0ca97e6a0540836f3f59572c3c
    ports:
      - "127.0.0.1:8080:8080"
  apicurio-registry-ui:
    image: apicurio/apicurio-registry-ui:latest-release@sha256:9ab64e1d619aae279135a18cd7387c671c0a7429e86bccbec4b3e02a258ed579
    ports:
      - "127.0.0.1:8888:8080"
    depends_on:
      - apicurio-registry
